<div class="container-fluid position-relative p-0">
    <nav
        class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="/" class="navbar-brand p-0">
            <h2 class="text-success  m-0"><i class="fa fa-map-marker-alt me-3"></i>LETMECOOK</h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/rooms" class="nav-item nav-link">Rooms</a>
                <a href="/services" class="nav-item nav-link">Services</a>
                <a href="/about" class="nav-item nav-link">About</a>
                <a href="/contact" class="nav-item nav-link">Contact</a>
            </div>
            <a href="/login" class="btn btn-primary rounded-pill py-2 px-4">Login</a>
        </div>
    </nav>
</div>